@{
    ViewBag.Title = "LoginUsuario";
}

<h2>Entre com o seu login</h2>

<p><input type="text" class="form-control" placeholder="Usuário" required autofocus /> </p>
<label class="CorLabel" for="nome"</label>
<p><input type="password" class="form-control" placeholder="Senha" required /></p>
<input type="button" class="form-control" value="Entrar" />

